#top, .title, .txt {text-align: center;}

#welcome {color:white;}
.data {width:170px; margin:48px;}

.bar {height: 30px; width: 170px;}
.b1 {background-color:#33A8DD;}
.b2 {background-color:#F46731;}
.b3 {background-color:#2BCDC0;}

.title{font-size: 33px;margin: 13px}
.txt {font-size:16px; font-family: Calibri}
#bottom {display: flex;grid-area: bottom;justify-content: space-evenly;align-items: center;}

@media (min-width: 320px) {
    main { display: flex; 
        flex-direction: column;
        
    }
    #top {
        grid-area: top;
        height: 300px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: 30px;
        background-color: #33A8DD;}
    #welcome {width: 299px; text-align: left;}        
    .txt {color: black;}   
    .title {color: black;}  
    #top, #bottom {width: 100%;}
    #bottom {background-color: #F7F5F6;display: flex;flex-direction: column;justify-content: space-evenly;align-items: center;}
    }
@media (min-width: 992px) {
    main {grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
        "top top top"
        "block1 block2 block3";
        }
    #top {
        grid-area: top;
        height: 300px;

        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: 30px;
        background-color: #2BCDC0;}
    .data1{grid-area: block1;}
    .data2{grid-area: block2;}
    .data3{grid-area: block3;}
    #welcome {width: 600px;}
    .txt {color: white;}
    .title {color: white;}
    #top, #bottom {width: 970px; }
    #bottom {flex-direction: row;background-color: black;}
}
    
